# Chaves e API da Claro
CLARO_API_KEYS=chave_1,chave_2
CLARO_API_URL=https://planos.claronet.com/api/api.php
CLARO_THREADS=2
CLARO_REQUESTS_PER_SECOND=2
CLARO_V2_PORT=8520

# Autenticação de Acesso ao Painel
AUTH_ENABLED=true
login-admin=admin
senha-admin=sua_senha_segura_aqui

# Chave Secreta para Migração / Carga do Banco de Dados
MIGRATION_SECRET_KEY=chave_secreta_migracao_aleatoria_123
